<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloudbelly | Personal Details</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<style>
    .store {
        border-color: transparent;
        background-color: transparent;
    }

    input {
        width: 300px;
        height: 47px;
    }
</style>

<body>
    <div class="first_container">

    </div>



    <div class="second_container">
        <h3 style="margin-top: 15px;">We should really know each other</h3>
        <h3 style="    text-align: initial;
        margin-left: 53px;
        color: #faab23;">better</h3>
        <div class="document_verification">
            <form action="/document_verification" method="post" enctype="multipart/form-data">
               
               
                <div class="documents">

            <input type="file" name="files[]" multiple="true" autocomplete="off" required>
                    <input type="text" name="account_no" placeholder="PAN Number" required>
                    <label for="logo">
                        <span><img class="adhar_card" src="../static//icons/aadhar.svg" alt=""></span>
                        <input id="logo" name="aadhar" type="file"
                            accept="image/png, image/jpg, image/gif, image/jpeg" />
                    </label>
                    <label for="logo">
                        <span><img class="trade_licence" src="../static//icons/trade_licence.svg" alt=""></span>
                        <input id="logo" name="trade_licence" type="file"
                            accept="image/png, image/jpg, image/gif, image/jpeg" />
                    </label>
                    <label for="logo">
                        <span><img class="food_licence" src="../static//icons/food_licence.svg" alt=""></span>
                        <input id="logo" name="food_licence" type="file"
                            accept="image/png, image/jpg, image/gif, image/jpeg" />
                    </label>
                    
                </div>

                <div class="sign_up">
                    <button
                        style="cursor:pointer;background-color: transparent;border-color:transparent;font-size: x-large;font-weight: 600;text-align: center;"
                        type="submit">Upload Banking Details</button>
                </div>
            </form>

        </div>
    </div>

    <div class="third_container">

    </div>
</body>
<script>

</script>

</html>