<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloudbelly</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="first_container">

    </div>
    <div class="signIn_button">
        <span style="
            position: absolute;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            top: 80px;
            z-index: 2;
            right: -15px;
            " id="orangeButtons">Sign in</span>
    </div>


    <div class="second_container">
        <img id="main_logo" src="../static/images/logo.svg" alt="">
        <h2>Welcome to the future of delivering food..</h2>

        <div class="input_fields">
            <form action="/sign_up" method="post">

                <input type="number" placeholder="Enter your phone number" name="phone_no" id="enterInputs" required>
                <br>

                <input type="email" placeholder="Enter your email" name="enter_email" id="enterInputs" required>
                <br>
               
                <input type="password" placeholder="Type Password" name="password" id="enterInputs" required>
                <br>
                <input type="password" placeholder="Confirm Password" name="confirmPassword" id="enterInputs" required>
                <br>
                <div class="sign_up">
                    <button style="background-color: transparent;border-color:transparent;font-size: x-large;font-weight: 600;" type="submit">Send OTP</button>
                </div>
            </form>

        </div>
    </div>
    <div class="third_container">

    </div>
</body>
<script>

</script>

</html>