<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloudbelly</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="first_container">

    </div>
 


    <div class="second_container">
        <img id="main_logo" src="../static/images/logo.svg" alt="">
        <h2>Welcome to the future of delivering food..</h2>

        <div class="input_fields">
           <span> Yowza! We are happy to assist you</span>

        </div>
    </div>
    <div class="third_container">

    </div>
</body>
<script>

</script>

</html>